@tailwind base;
@tailwind components;
@tailwind utilities;


.horizontal-list {
    @apply text-center;
}

.horizontal-list li {
    @apply inline-block text-lg px-2 py-2 hover:bg-gray-200 cursor-pointer w-[6rem] sm:w-auto;
}

.horizontal-list li a {
    @apply text-sm sm:text-lg
}

.categories-list {
    @apply w-full font-serif;
}

.categories-list li {
    @apply w-full hover:bg-gray-300 hover:underline px-2 text-center
}

.input-style {
    @apply p-2 pl-4 border border-slate-500 focus:outline-none;
}

.button-style {
    @apply bg-white font-semibold rounded-xl py-3 px-10 border-2 border-slate-600 hover:bg-slate-300;
}

/* hello */

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #09f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .line-clamp-2 {
    @apply overflow-hidden text-ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5rem; /* Adjust according to your text size */
    max-height: 3rem; /* 2 lines * line height */
  }

  /* change icon scale */
.icon-scale:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.btn-scale:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease;
}

